body{
    font-family: 'Encriptador', sans-serif;
}

head {
    background-color: #BBBBBB;
    padding: 20px 0;
}

.btn{
    margin:20px 0;
}

.h1{
    font-size: 30px;
    font-weight: bold;
}

.inputTexto:hover h2{
    font-size: 33px;
}

.h2{
    font-size: 30px;
    font-weight: bold;
}